<div class="container">
    <h4> {{question.question}} </h4>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let choice of question.choices" 
            [ngClass]="{'active': question.correct === this.question.answer}"> 
            <input type="radio" name={{question._id}} value=choice (click)="changeAnswer(choice)"> 
            <label> {{choice}} </label>
        </li>
    </ul>
    Your Answer: {{question.answer}}
    <br>
    <button (click)="grade()">
        Grade
    </button>
</div>
